<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <title>Room Details</title>
</head>

<body>
    <main class="container">
        <form action="/" method="POST">
            <button href="home.html">Home</button>
        </form>
        <table>
            <tr>
                <th>Room Name</th>
                <th>Room Capacity</th>
                <th>Age Range</th>
                <th>Other Requirements</th>
            </tr>
            <tr>
                <td>Meeting</td>
                <td>200</td>
                <td>18-65</td>
                <td></td>
            </tr>
            <tr>
                <td>Moon</td>
                <td>26</td>
                <td>18-65</td>
                <td>Only book on a full moon</td>
            </tr>
            <tr>
                <td>Food</td>
                <td>15</td>
                <td>1-100</td>
                <td></td>
            </tr>
            <tr>
                <td>Young Kids</td>
                <td>30</td>
                <td>0-12</td>
                <td></td>
            </tr>
            <tr>
                <td>Old Kids</td>
                <td>15</td>
                <td>12-18</td>
                <td></td>
            </tr>
            <tr>
                <td>Adults</td>
                <td>50</td>
                <td>18-65</td>
                <td></td>
            </tr>
            <tr>
                <td>Senior</td>
                <td>65</td>
                <td>65-117</td>
                <td></td>
            </tr>
            <tr>
                <td>All Ages</td>
                <td>160</td>
                <td>0-117</td>
                <td></td>
            </tr>
        </table>
    </main>


</body>

</html>