<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
        <title>Bookings</title>
    </head>

    <body>
        <main class = "container">
            {% for message in get_flashed_messages() %}
                <dialog open>
                    <article>
                        {{ message }}
                    <footer>
                        <a href="/" role="button">Ok</a>
                    </footer>
                    </article>
                </dialog>
            {% endfor %}       
        <h1>Room Booking System</h1>
        <form action="/submit_form1" method="POST">
            <div>
                <div class="grid">
                    <div>
                        <label for="fName">Enter your name</label>
                        <input name ="fName" type="text" pattern = "[a-zA-Z ]+" required>
                    </div>
                    <div>
                        <label for="phoneN">Enter your phone number</label>
                        <input name="phoneN" type="tel" pattern="[0-9]{3} [0-9]{3} [0-9]{4}" required>
                        <small>Format: 123 456 7890</small>
                    </div>
                </div>
                <div class="grid">
                    <div>
                        <label for="room">Select Room</label>
                        <select name="room" placeholder="Select Room Below" required>
                            {% for room in data %}
                                <option value="{{ room.name }}">{{ room.name }} room</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label for="dateS">Select Your Dates</label>
                        <input required name="dateS" type="date" min="{{ datetime.datetime.today().strftime('%Y-%m-%d') }}" max="{{ (datetime.datetime.today() + datetime.timedelta(days=30)).strftime('%Y-%m-%d') }}">
                    </div>
                </div>
                <div class="grid">
                    <div>
                        <label for="age">Select Age Range</label>
                        <select required name="age" placeholder="Select Age Below">
                            <option>0-12</option>
                            <option>12-18</option>
                            <option>18-65</option>
                            <option>65-117</option>
                        </select>
                    </div>
                    <div>
                        <label for="numOfPpl">Enter the number of attendees</label>
                        <input required name="numOfPpl" type="number" min="1">
                    </div>
                    <div>
                        <label for="length">Select meeting length</label>
                        <select required name="length" placeholder="Select Time Length Below">
                            <option value="1 hour">45 mins</option>
                            <option value="2 hour">1 hour 45 mins</option>
                            <option value="3 hour">2 hours 45 mins</option>
                        </select>
                    </div>
                </div>
                <button type="submit" >
                    Submit 
                </button>
            </div>
      </form>
      Note: You cannot book during the weekends or major holidays.
    </main>
    </body>

</html>

