<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
        <title>About</title>
    </head>

    <body>
        <br><br>
        <div style="
            justify-content: center;
            align-items: center;
            height: 100vh;
            text-align: center;">
            <p>This is a website that accesses and retrieves data from our asset management system database.</p>
            <p>The database was built using Oracle SQL.</p>
            <p>From this website all the data can be viewed and certain DML statements can be executed</p>
            <p>Available assets can be requested</p>
        </div>
    </body>

</html>