<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
        <title>Bookings</title>
    </head>

    <body>
        <form action="/submit_form">
            <div >
                <div>
                    <label for="room">Select Room</label>
                    <select name="room" placeholder="Select Room Below">
                        <option>A</option>
                        <option>B</option>
                        <option>C</option>
                    </select>
                </div>
                <div>
                    <label for="dateS">Select Your Dates</label>
                    <input name="dateS" type="date" min="2023-04-25" max="2023-05-25">
                </div>
                <div>
                    <label for="age">Select Age Range</label>
                    <select name="age" placeholder="Select Age Below">
                        <option>A</option>
                        <option>B</option>
                        <option>C</option>
                    </select>
                </div>
                <div>
                    <label for="numOfPpl">Enter the number of anttendees</label>
                    <input name="numOfPpl" type="number" min="1">
                </div>
                <div>
                    <label for="length">Select meeting length</label>
                    <select name="length" placeholder="Select Time Length Below">
                        <option>A</option>
                        <option>B</option>
                        <option>C</option>
                    </select>
                </div>
                <button type="submit" >
                    Submit 
                </button>
            </div>
      </form>
    </body>

</html>

