<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
        <title>Bookings</title>
    </head>
    <body>
        <form>
            <div >
                <div>
                    <label for="time">Select Available Time Slot</label>
                    <select name="room" placeholder="Select Time Slot Below">
                        <option>A</option>
                        <option>B</option>
                        <option>C</option>
                    </select>
                </div>
                <button type="submit">
                    Submit 
                </button>
            </div>
        </form>
    </body>
</html>