<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
        <title>Bookings</title>
    </head>
    <body>
        <main class="container">
        <form action="/submit_form2" method="POST">
            <div >
                <div>
                    <label for="time">Select Available Time Slot</label>
                    <select name="time" placeholder="Select Time Slot Below">
                        {% for time in data %}
                            <option value="{{ time }}">{{ time }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit">
                    Submit 
                </button>
            </div>
        </form>
    </main>
    </body>
</html>